/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/******************/
/* GENERAL STYLES */
/******************/
body {
  background: #fbfbfb;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 400px;
  margin: 50px auto;
}

/***************/
/* FORM STYLES */
/***************/

form {
  font-size: 1em;
  display: flex;
  padding-bottom: 25px;
  border-bottom: solid 2px #eee;
}
form input {
  line-height: 30px;
  padding: 5px;
  background: #fff;
  border: solid 2px #eee;
  font-size: 1.1em;
  flex-grow: 1;
}

/********************/
/* FORM BUTTON STYLES */ 
/********************/
form button {
  color: #fff;
  font-weight: bold;
  font-size: 1.1em;
  margin-left: 7px;
  padding: 7px;
  border: solid 2px #eee;
  border-radius: 6px;
  cursor: pointer;
}

.add-item {
  background: #83D97C;
  box-shadow: 0 5px 40px rgba(131,217,124, 0.4);
  transition: all 0.5s;
  border-color: #78c671;
}
.cancel-item {
  background: #EF5350;
  box-shadow: 0 5px 40px rgba(239, 83, 80, 0.4);
  transition: all 0.5s;
  border-color: #d64946;
} 
.add-item:hover {
  background: #78c671;
  transition: all 0.1s;
  box-shadow: 0 10px 40px rgba(120, 198, 113, 0.5);
}
.cancel-item:hover {
  background: #d64946;
  transition: all 0.1s;
  box-shadow: 0 10px 40px rgba(214, 73, 70, 0.5);
}
/********************/
/* LIST ITEM STYLES */ 
/********************/

h3 {
  padding-top: 25px;
  margin: 0;
}
.list {
  padding-left: 0px;
}
.todos {
  padding-bottom: 25px;
  border-bottom: solid 2px #eee;
  margin-bottom: 0;
}
.list-item {
  display: flex;
  text-decoration: none;
  font-size: 1.1em;
  line-height: 30px;
  padding: 5px;
  border: solid 2px #eee;
  background: #fff;
  margin-bottom: 7px;
  cursor: pointer;

  position: relative;
}
.list-item * {
  cursor: pointer;
}
.completed .item-description {
  color: #a9a9a9;
}

.list-item:nth-child(1) {
  border-top: solid 2px #eee;
}


/********************/
/* CHECKBOX STYLES */ 
/********************/
input[type="checkbox"] {
  cursor: pointer;
  display: none;
}
.item-description {
  flex-grow: 1;
  margin-left: 5px;
  padding-left: 35px;
}
.item-description:before {
  position: absolute;
  top: 7px;
  left: 10px;
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 4px;
  opacity: 0.5;
  box-sizing: border-box;
  border: #999 2px solid;
  transition: all 0.3s;
}
.item-description:after {
  content: "✔︎";
  font-size: 1.9rem;
  /* color: #00a0ff; */
  /* color: #000; */
  position: absolute;
  top: 2px;
  left: 0;
  opacity: 0;
  transition: all 0.3s;
  /* text-shadow: 0 5px 40px #0084ff; */
  transform: scale(0.9);
}

input[type="checkbox"]:checked + label:before {
 /* border-color: #0084ff; */
}

input[type="checkbox"]:checked + label:after {
  opacity: 1; left: 15px; transform: none;
}

/********************/
/* DELETE BUTTON STYLES */ 
/********************/
.delete-item {
  display: flex;
  width: auto;
  border: none;
  color: #ef5350;
  background: none;
  font-size: 1.15em;
  cursor: pointer;
  visibility: hidden;
}


/********************/
/* EDIT BUTTON STYLES */ 
/********************/

.edit-item {
  border: none;
  color: #fff;
  background-color: #54bebe;
  font-size: 1em;
  border-radius: 4px;
  visibility: hidden;
}

.list-item:hover .delete-item,
.list-item:hover .edit-item {
  visibility: visible;
}


.list-item .edit-item:hover {
  box-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
}

.list-item .delete-item:hover {
  text-shadow: 0px 2px 2px rgba(150, 150, 150, 1);
}